@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: theme('colors.slate.50');
  color: theme('colors.slate.900');
}

@media print {
  body { background: white !important; }
}
